@import '../../styles/mixins';
@import '../../styles/vars';

.detailsSection {
    width: 100%;
    height: 550px;
    background-image: url('../../assets/automobilindust.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    margin: 30px 0px;

    .detailsCover {
        width: 100%;
        height: 100%;
        background-color: rgba(152, 54, 69, 0.85);
    }   

    .detailsContainer {
        @include flex(start, space-between);
        padding-top: 40px;
        font-family: $font;

        h2 {
            color: $white;
            margin-bottom: 0;
        }

        ul {
            padding: 0;
            list-style-type: none;
            margin-bottom: 30px;

            li {
                color: $white;
                font-size: 20px;
                line-height: 24px;
                font-weight: 600;
                padding: 10px 0px;
            }
        }

        button {
            @include button($blue);
            opacity: 1;
        }
    }

    .detailsImage {
        position: relative;
        top: 30px;
    }
}